# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
.embold

# generated native folders
/ios
/android

# consignes prof projeto
Projet_Final_React_Native.pdf
/doc
